{% extends "layout.html" %}

{% block body %}
<div class="main">
  <table class="plans_container">
    <tr>
      <td class="intro_text_container">
          <p class="intro_text">This is a page based around work I have done on a GPS based project.
                                I am storing waypoints taken via an adafruit "Ultimate GPS" module
                                hooked to a raspberry pi. These are stored in a sqlite database.
                                </p>
          <p class="intro_text">Below are plans and their related waypoints that I have taken. </p>
      </td>
    </tr>
    <tr>
      <td class="plan">
        {% for plan in plans %}
          <table class='plan_data'>
            <tr><td class='plan_desc'>{{ plan.description }} - {{ plan.date_added }}</td></tr>
            {% for point in plan.points.all %}
              {% if forloop.first %}
                <tr>
                  <td>Label</td>
                  <td>Latitude</td>
                  <td>Longitude</td>
                  <td>Error (meters)</td>
                  <td>Date added</td>
                  <td>Description</td>
                  <td></td>
                </tr>
              {% endif %}
              <tr>
                <td>{{ point.label }}</td>
                <td>{{ point.lat }}</td>
                <td>{{ point.lon }}</td>
                <td>{{ point.altitude }}</td>
                <td>{{ point.date_added }}</td>
                <td>{{ point.description }}</td>
              </tr>
            {% endfor %}
          {% endfor %}
        </table>
      </td>
    </tr>
    <tr><td>footnotes</td></tr>
  </table>
</div>
{% endblock %}
