body {
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
    text-align: center;
    width: 1366px;
    height: 100%;
}
a, h1 {
    color: #EFF4EE;
}
Ce9D71
/* nav menu */
.menu {
    text-align: center;
    color: #EFF4EE;
    font-size: 20px;
    vertical-align: top;
}
/*background-color: #A85D84;*/
