body {
    margin-left: auto;
    margin-right: auto;
    background-color: #B4B5BB;
    text-align: center;
    width: 1080px;
    height: 100%;
    font-family: "Verdana", Geneva, Sans-Serif;
    font-size: 14px;
}

p {color: #46797C;}

.main {
    width: 1080px;
    border: 1px solid #232323;
}

/* page */
.floatleft {
    float: left;
    width: 500px;
}
.floatright {
    float: right;
    height: 400px;
    width: 500px
}

table, tr, td {
    border: 0px solid black;
}
.plans_container {
    padding: 12px;
}
.plan_data {
    border-spacing: 15px;
    margin-left: 10px;
}
.plan_desc {
    margin-left: 10px;
}
.plan {
    vertical-align: top;
    text-align: left;
    background-color: #938896; /* #5B8582; B9BFCA*/
    width: 100%;
    border: 3px solid #232323;
    border-radius: 20px 10px 20px 10px;
}
.plan_header {
    text-align: left;
    margin-left: 10px;
}

/*Your Order Number is: 826223-4317930367
b4b5bb
